:root {
    --font-size: 18px;
    --font-family-BaiJamjuree: "Bai Jamjuree", sans-serif;
    --font-weight-Reg: 400;
    --font-weight-SemiBold: 600;
    --color-primary-Strong-Cyan: hsl(171, 66%, 44%);
    --color-primary-Light-Blue: hsl(233, 100%, 69%);
    --color-neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --color-neutral-Grayish-Blue: hsl(201, 11%, 66%);
    --color-neutral-White: hsl(0, 0%, 100%);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family-BaiJamjuree);
    font-weight: var(--font-weight-Reg);
    color: var(--color-neutral-Dark-Grayish-Blue);
  }
  
  body {
    color: var(--color-neutral-Dark-Grayish-Blue);
    font-size: var(--font-size);
  }
  .buttons {
    display: auto ;
    margin-bottom: 10rem;
  }
  .iOS {
    width: 20px auto;
    padding: 15px;
    margin: 175px;
    color: #ffffff;
    background-color: var(--color-primary-Strong-Cyan);
    border: none ;
    border-radius: 25px;
    box-shadow: 0 2px 1px hsl(171, 66%, 30%), 0 3px 13px rgba(38, 186, 164, 0.7);
  }
  .iOS:hover {
    background-color: rgba(38, 186, 164, 0.8);
  }

  .Mac {
    width: 20px auto;
    padding:15px;
    margin: 175px;
    background-color: var(--color-primary-Light-Blue);
    color: var(--color-neutral-White);
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 1px hsl(233, 40%, 45%), 0 3px 13px rgba(0, 0, 0, 0.3);
  } 
   .Mac:hover {
    background-color: rgba(67, 115, 255, 0.8);
  }
  .buttons{
    display: auto;
    padding: auto;
    margin-bottom: 25px;
  }
  
  header {
    background-image: url(./images/bg-header-desktop.png);
    background-position: center;
    background-size: cover;
    display: auto;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 40px auto;
    display: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header > img {
    margin: 10px 0 5px 0;
    padding: auto;
  }
  .header > p {
    margin-bottom: 1px;
  }
  
  h1 {
    font-size: 40px;
    font-weight: var(--font-weight-SemiBold);
    
  }
  h2 {
    font-size: 35px;
    font-weight: var(--font-weight-SemiBold);
    
  }
  h3 {
    font-size: 25px;
    font-weight: var(--font-weight-SemiBold);
    margin: 0;
  }
  
  .A {
    width: 40px auto;
    text-align: center;
    margin: 0 auto;
  }
  .A> p {
    margin-bottom: 5px;
  }
  .B{
    display: auto flex;
    margin-bottom: 10px;
  }
  .list {
    word-spacing: 0.2px;
    flex: 1;
    list-style-type: none;
    margin: 4rem 15rem 0 5rem;
  }
  .list > li > p {
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  .B> img {
    max-width: 50%;
    margin-top: 5px;
  }
  
  .C {
    width: 40px auto;
    display: auto ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto 5px;
  }
  .C > p {
    margin-bottom: 10px;
  }
  
  .D {
    display: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 10px;
  }
  .blacklist,.text,.icon {
    text-align: center;
    width: 25px auto;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .D {
    margin-bottom: 3px;
    display:  flex;
  }

  .image {
    display: flex;
    margin: 0 10px 10px 0;
    gap: 75px;
    margin-bottom: 250px;
  }
  .F {
    width: 35px auto;
    display: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .foot {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr;
    background-color: hsl(201, 11%, 66%, 0.1);
    padding: 25px 25px 0 0;
  }
  .hm {
    display: auto;
  }
  .hmm{
    display: auto;
  }
  .foot > img {
    width: 3px auto;
  }
  .social {
    margin-right: 150px auto;
  }
  .social > img {
    margin-right: 1px auto;
  }
